@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Our Models</h1>

    <div style="margin: auto; width: 90%">

        @{
            if (Model.FirstPhotos.Count() > 0)
            {

                @foreach (var user in Model.FirstPhotos)
                {
                    if (user.PhotoPath != null && user.IsVerified)
                    {
                        <a asp-page="./UserDetails" asp-route-id="@user.Id">
                            <div style="margin-bottom: 50px; float: left; width: 50%; height: 25%;">
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <div class="text-center" style="color: black; text-decoration: none;">
                                        @{string fullName = user.FirstName + " " + user.LastName;}
                                        @fullName
                                    </div>
                                    <div class="text-center" style="color: black; text-decoration: none;">
                                        @{int age = user.Age;}
                                        @age
                                    </div>
                                    <div class="text-center" style="color: black; text-decoration: none;">
                                        @{string city = user.City;}
                                        @city
                                    </div>
                                }
                                <div style="padding-top:10px;">
                                    <img style="max-height: 25%; max-width: 50%;" src="@user.PhotoPath.FilePath">
                                </div>
                            </div>
                        </a>
                    }
                }
            }
            else
            {
                <p>No models are registered or are verified</p>
            }
        }
    </div>
</div>
