@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Our Models</h1>

    <div style="margin: auto; width: 90%">

        @{
            if (Model.Users.Count() > 0)
            {

                @foreach (var user in Model.Users)
                {
                    if (user.IsVerified)
                    {
                        <div style="margin-bottom: 75px; float: left; width: 50%; height: 25%;">
                            <a asp-page="./UserDetails" asp-route-id="@user.Id">
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <div class="text-center">
                                        @{string fullName = user.FirstName + " " + user.LastName;}
                                        @fullName
                                    </div>
                                    <div class="text-center">
                                        @{int age = user.Age;}
                                        @age
                                    </div>
                                    <div class="text-center">
                                        @{string city = user.City;}
                                        @city
                                    </div>
                                            }
                                @*<div style="margin-top: 25px;">
                                </div>*@
                            </a>
                        </div>
                    }
                }
            }
            else
            {
                <p>No models are registered or are verified</p>
            }
        }
    </div>
</div>
